@media (orientation: landscape) {
    .lights-container {
        margin: 0 5%;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(2px); 
        max-height: 45vh;
    }
    
    .lights-content {
        overflow-y: auto;
        overflow-x: hidden; 
        max-height: 25vh;
    }
}

@media (orientation: portrait) {
    .lights-container {
        margin: 0 5%;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(2px); 
    }
    
    .lights-content {
        overflow-y: auto;
        overflow-x: hidden; 
        max-height: 44vh;
    }
}

.spinner-devices-lightContainer {
    color: rgba(24, 70, 196, 0.8);
    margin: 0 auto;
    top: 40px;
}